<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#111111">
    <link rel="canonical" href="">
    <link rel="preconnect" href="https://cdn.shopify.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com/" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com/">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://maps.googleapis.com/">
    <link rel="dns-prefetch" href="https://maps.gstatic.com/">
    <link rel="shortcut icon" href="" type="image/png" />

    <title>CONTACT US</title>

    <meta name="description" content="">
    <meta property="og:site_name" content="CONTACT US">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <link href="cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/themef0c4.css?v=22983630061457647171666212227"
        rel="stylesheet" type="text/css" media="all" />
    <style data-shopify>
        :root {
            --typeHeaderPrimary: "Tenor Sans";
            --typeHeaderFallback: sans-serif;
            --typeHeaderSize: 36px;
            --typeHeaderWeight: 400;
            --typeHeaderLineHeight: 1;
            --typeHeaderSpacing: 0.0em;

            --typeBasePrimary: "Twentieth Century";
            --typeBaseFallback: sans-serif;
            --typeBaseSize: 18px;
            --typeBaseWeight: 400;
            --typeBaseSpacing: 0.025em;
            --typeBaseLineHeight: 1.4;

            --typeCollectionTitle: 18px;

            --iconWeight: 2px;
            --iconLinecaps: miter;


            --buttonRadius: 0px;


            --colorGridOverlayOpacity: 0.0;
        }

        .placeholder-content {
            background-image: linear-gradient(100deg, #f4f4f4 40%, #ececec 63%, #f4f4f4 79%);
        }
    </style>
    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

        window.theme = window.theme || {};
        theme.routes = {
            home: "/",
            cart: "/cart.js",
            cartPage: "/cart",
            cartAdd: "/cart/add.js",
            cartChange: "/cart/change.js",
            search: "/search"
        };
        theme.strings = {
            soldOut: "Sold Out",
            unavailable: "Unavailable",
            inStockLabel: "In stock, ready to ship",
            oneStockLabel: "Low stock - [count] item left",
            otherStockLabel: "Low stock - [count] items left",
            willNotShipUntil: "Ready to ship [date]",
            willBeInStockAfter: "Back in stock [date]",
            waitingForStock: "Inventory on the way",
            savePrice: "Save [saved_amount]",
            cartEmpty: "Your cart is currently empty.",
            cartTermsConfirmation: "You must agree with the terms and conditions of sales to check out",
            searchCollections: "Collections:",
            searchPages: "Pages:",
            searchArticles: "Articles:",
            productFrom: "from ",
        };
        theme.settings = {
            cartType: "drawer",
            isCustomerTemplate: false,
            moneyFormat: "${{amount_no_decimals}}",
            saveType: "dollar",
            productImageSize: "natural",
            productImageCover: false,
            predictiveSearch: true,
            predictiveSearchType: "product,article",
            predictiveSearchVendor: false,
            predictiveSearchPrice: false,
            quickView: true,
            themeName: 'Impulse',
            themeVersion: "7.1.0"
        };
    </script>
    <script integrity="sha256-pfEFLtGor1q9LzHf7xpslSiKa+MZ45v9cHL18ZbWNhI="
        data-source-attribution="shopify.loadfeatures" defer="defer"
        src="../../cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-a5f1052ed1a8af5abd2f31dfef1a6c95288a6be319e39bfd7072f5f196d63612.js"
        crossorigin="anonymous"></script>
    <script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4="
        data-source-attribution="shopify.dynamic-checkout" defer="defer"
        src="../../cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js"
        crossorigin="anonymous"></script>

    <script src="cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/vendor-scripts-v11.js" defer="defer"></script>
    <link rel="stylesheet" href="cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/country-flags.css">
    <script src="cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/themeddb0.js?v=13862351161817530741666212183"
        defer="defer"></script>
    <script src="assets/custom_web.js?ver=<?php echo time(); ?>"></script>
    <link href="https://monorail-edge.shopifysvc.com/" rel="dns-prefetch">

</head>

<body class="template-page" data-center-text="true" data-button_style="square" data-type_header_capitalize="true"
    data-type_headers_align_text="true" data-type_product_capitalize="true" data-swatch_style="round">


    <div id="PageContainer" class="page-container">
        <div class="transition-body">
            {{>header}}



            <style>
                @media only screen and (min-width: 769px) {
                    .index-section {
                        margin: 10px 0;
                    }
                }
            </style>
            <main class="main-content" id="MainContent">
                <!-- <section id="shopify-section-template--14452072841274__main" class="shopify-section">
                    <div class="page-width page-width--narrow page-content">
                        <header class="section-header">
                            <h1 class="section-header__title">Contact</h1>
                        </header>

                        <div class="rte rte--nomargin">
                            <meta charset="utf-8">
                            <p><span>Questions? Comments? Let your customers get in touch with you by filling out the email form below. Reassure them that someone will get back to them within a certain timeframe.</span></p>
                            <p><span><img src="../../cdn.shopify.com/s/files/1/0027/7692/4218/files/contact_2048x204836d0.jpg?v=1525895584" alt=""></span></p>
                        </div>
                    </div>


                </section> -->

                <div id="shopify-section-template--14452072841274__form" class="shopify-section index-section">
                    <div class="index-section">
                        <div class="page-width page-width--narrow">
                            <div class="rte">
                                <p>We'd love to hear from you!&nbsp;If you have any questions or comments for us, fill
                                    out the form below we will get back to you within 48 hours. Or feel free to write us
                                    at
                                    <?php echo $email_id_dynamic; ?> or call us at
                                    <?php echo $phonenumber_dynamic; ?>. We are available to take your calls on weekdays
                                    (10:00 am till 6:00 pm)
                                </p>
                                <p></p>
                                <p>SiliconLeaf Corporation
                                    <br>
                                </p>
                            </div>
                            <div class="section-header">
                                <h2 class="section-header__title">
                                    Questions? Send us an email!
                                </h2>
                            </div>


                            <div class="form-vertical">
                                <form method="post" action="/contact-us" accept-charset="UTF-8" class="contact-form">
                                    <input type="hidden" name="form_type" value="contact" />
                                    <input type="hidden" name="utf8" value="✓" />

                                    <div class="grid grid--small">
                                        <div class="grid__item medium-up--one-half">
                                            <label for="inq_name">Name</label>
                                            <input type="text" id="inq_name" class="input-full" name="inq_name"
                                                autocapitalize="words" value="">
                                        </div>

                                        <div class="grid__item medium-up--one-half">
                                            <label for="inq_email">Email</label>
                                            <input type="email" id="inq_email" class="input-full" name="inq_email"
                                                autocorrect="off" autocapitalize="off" value="">
                                        </div>
                                        <div class="grid__item medium-up--one-full">
                                            <label for="inq_phone">Mobile Number</label>
                                            <input type="text" id="inq_phone" pattern="[0-9\-]*" minlength="10"
                                                maxlength="10" class="input-full" name="inq_phone"
                                                onkeypress="return isNumber(event)" autocorrect="off"
                                                autocapitalize="off" value="">
                                        </div>
                                    </div><label for="inq_msg">Message</label>
                                    <textarea rows="5" id="inq_msg" class="input-full" name="inq_msg"></textarea>

                                    <label for="regbtn" class="hidden-label">Send</label>
                                    <button type="submit" onclick="contact_add()" id="regbtn" class="btn">
                                        Send
                                    </button>


                                    <!-- <p data-spam-detection-disclaimer>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p> -->

                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </main>
            {{>footer}}

        </div>
    </div>

    <script>
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        function contact_add() {

            $("#regbtn").html("Loading..");
            $("#regbtn").css("pointer-events", "none");
            var inq_name = $("#inq_name").val();
            var inq_email = $("#inq_email").val();
            var inq_phone = $("#inq_phone").val();
            var inq_msg = $("#inq_msg").val();
            var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            if (inq_name == "") {
                $("#regbtn").html("Send");
                $("#regbtn").css("pointer-events", "visible");
                $("#inq_name").focus();
                $("#registermsg").css("color", "red");
                $("#registermsg").html("Enter Name");
                setTimeout(function () {
                    $("#registermsg").html('');
                    $("#registermsg").css("color", "green");
                }, 3000);
            } else if (inq_email == "") {
                $("#regbtn").html("Send");
                $("#regbtn").css("pointer-events", "visible");
                $("#inq_email").focus();
                $("#registermsg").css("color", "red");
                $("#registermsg").html("Enter email Id");
                setTimeout(function () {
                    $("#registermsg").html('');
                    $("#registermsg").css("color", "green");
                }, 3000);
            } else if (inq_email != "" && reg.test(inq_email) == false) {
                $("#regbtn").html("Send");
                $("#regbtn").css("pointer-events", "visible");
                $("#inq_email").focus();
                $("#registermsg").css("color", "red");
                $("#registermsg").html("Enter proper email Id");
                setTimeout(function () {
                    $("#registermsg").html('');
                    $("#registermsg").css("color", "green");
                }, 3000);
            } else if (inq_phone == "") {
                $("#regbtn").html("Send");
                $("#regbtn").css("pointer-events", "visible");
                $("#inq_phone").focus();
                $("#registermsg").css("color", "red");
                $("#registermsg").html("Enter Phone Number");
                setTimeout(function () {
                    $("#registermsg").html('');
                    $("#registermsg").css("color", "green");
                }, 3000);
            } else if (inq_phone != "" && inq_phone.length != "10") {
                $("#regbtn").html("Send");
                $("#regbtn").css("pointer-events", "visible");
                $("#inq_phone").focus();
                $("#registermsg").css("color", "red");
                $("#registermsg").html("Phone number must be 10 digit");
                setTimeout(function () {
                    $("#registermsg").html('');
                    $("#registermsg").css("color", "green");
                }, 3000);
            } else {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "/contact-us",
                    data: {
                        inq_name: inq_name,
                        inq_email: inq_email,
                        inq_phone: inq_phone,
                        inq_msg: inq_msg
                    },
                    success: function (data) {

                        if (data.flag == "0") {
                            $("#regbtn").css("pointer-events", "visible");
                            $("#regbtn").html("Send");
                            $("#registermsg").css("color", "red");
                            $("#registermsg").html(data.message);
                            setTimeout(function () {
                                $("#registermsg").html('');
                                $("#registermsg").css("color", "green");
                            }, 3000);
                        } else {
                            $("#registermsg").css("color", "green");
                            $("#registermsg").html(data.message);
                            setTimeout(function () {
                                window.location.reload();
                            }, 3000);

                        }
                    }
                });

            }
        }
    </script>

</body>


</html>