<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#111111">
    <link rel="preconnect" href="https://myttaksh.store/">
    <link rel="preconnect" href="https://cdn.shopify.com/" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com/" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com/">
    <link rel="dns-prefetch" href="https://maps.gstatic.com/">
    <link rel="shortcut icon" href="" type="image/png" />
    <title>meta_title1</title>
    <meta name="description" content="meta_desc1" />
    <meta property="og:image" content="">
    <meta name="keywords" content="meta_keyword1" />
    <link href="http://localhost:4000/cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/themef0c4.css?v=22983630061457647171666212227" rel="stylesheet" type="text/css" media="all" />
    <style data-shopify>
        :root {
            --typeHeaderPrimary: "Tenor Sans";
            --typeHeaderFallback: sans-serif;
            --typeHeaderSize: 36px;
            --typeHeaderWeight: 400;
            --typeHeaderLineHeight: 1;
            --typeHeaderSpacing: 0.0em;
            --typeBasePrimary: "Twentieth Century";
            --typeBaseFallback: sans-serif;
            --typeBaseSize: 18px;
            --typeBaseWeight: 400;
            --typeBaseSpacing: 0.025em;
            --typeBaseLineHeight: 1.4;
            --typeCollectionTitle: 18px;
            --iconWeight: 2px;
            --iconLinecaps: miter;
            --buttonRadius: 0px;
            --colorGridOverlayOpacity: 0.0;
        }

        .placeholder-content {
            background-image: linear-gradient(100deg, #f4f4f4 40%, #ececec 63%, #f4f4f4 79%);
        }

        .pagignation {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(/images/loader.gif) 50% 50% no-repeat rgb(249 249 249 / 42%);
            background-size: 38px;
        }

        .cart-count {
            line-height: 20px !important;
        }

        .cart-count1 {
            line-height: 20px !important;
        }

        .icon_common2 {
            margin-top: 0px !important;
        }

        .wishlist-icon {
            margin-top: 1px;
        }

        [data-swatch_style=round] .color-swatch:before {
            border-radius: 0;
            border-width: 4px;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
        }

        [data-swatch_style=round] .color-swatch {
            border-radius: 0;
        }

        .color-swatch--filter {
            width: 24px;
            height: 25px;
        }

        .collection-sidebar__group .collapsible-trigger-btn {
            text-align: left;
            font-size: 16px;
            font-weight: 700;
        }

        @media only screen and (max-width: 768px) {
            .section-header__title {
                margin-bottom: -9px;
            }
        }

        @media screen and (min-width: 769px) {
            .collection-filter__item--drawer {
                display: none;
            }

            .collection-filter__item--count {
                text-align: left;
            }

            html[dir="rtl"] .collection-filter__item--count {
                text-align: right;
            }
        }

        .noUi-connect {
            background: #d97676;
            /* background: var(--colorTextBody) */
        }

        @media only screen and (min-width: 769px) {
            .site-footer {
                padding-top: 20px;
                padding-bottom: 28%;
            }
        }

        .site-footer {
            padding: 0;
            border-top: 1px solid #e8e8e1;
        }

        .testimonail-image--round img {
            overflow: hidden;
            border-radius: 0px;
        }

        @keyframes preloading {
            0% {
                transform-origin: 0% 50%;
                transform: scaleX(0);
                opacity: 0
            }

            40% {
                transform-origin: 0% 50%;
                transform: scaleX(1);
                opacity: 1
            }

            41% {
                transform-origin: 100% 50%;
                transform: scaleX(1);
                opacity: 1
            }

            to {
                transform-origin: 100% 50%;
                transform: scaleX(0);
                opacity: 1
            }
        }

        @media only screen and (min-width:1400px) {
            .main-content {
                min-height: 700px;
                padding-top: 60px;
            }
        }

        /*  @media only screen and (min-width: 769px) {
            .main-content {
                min-height: 700px;
                padding-top: 130px;
            }
        } */

        @media only screen and (min-width: 769px) {

            .page-content,
            .shopify-email-marketing-confirmation__container,
            .shopify-policy__container {
                padding-top: 10px;
                padding-bottom: 0px;
            }
        }

        .page-content {
            padding-top: 0px;
        }

        .pag {
            padding: 8px 16px;
            border: 1px solid #ccc;
            color: #333;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #d97676;
            text-decoration: none;
        }

        @media only screen and (min-width: 769px) {
            .site-footer {
                padding-top: 20px;
            }
        }

        .tag__checkbox:before {
            border-color: #c9c0c0;
        }
        .quick-product__btn {
    font-size: calc(var(--typeBaseSize)*.85);
    position: absolute;
    bottom: 100px;
    right: 0px;
    left: 26px;
    left: 10px;
    z-index: 2;
    background-color: #111;
    background-color: var(--colorBtnPrimary);
    color: #fff;
    color: var(--colorBtnPrimaryText);
    overflow: hidden;
    padding: 8px 5px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity .25s ease, transform .25s ease-out, background .4s ease;
}
    </style>
    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        window.theme = window.theme || {};
        theme.routes = {
            home: "/",
            cart: "/cart.js",
            cartPage: "/cart",
            cartAdd: "/cart/add.js",
            cartChange: "/cart/change.js",
            search: "/search"
        };
        theme.strings = {
            soldOut: "Sold Out",
            unavailable: "Unavailable",
            inStockLabel: "In stock, ready to ship",
            oneStockLabel: "Low stock - [count] item left",
            otherStockLabel: "Low stock - [count] items left",
            willNotShipUntil: "Ready to ship [date]",
            willBeInStockAfter: "Back in stock [date]",
            waitingForStock: "Inventory on the way",
            savePrice: "Save [saved_amount]",
            cartEmpty: "Your cart is currently empty.",
            cartTermsConfirmation: "You must agree with the terms and conditions of sales to check out",
            searchCollections: "Collections:",
            searchPages: "Pages:",
            searchArticles: "Articles:",
            productFrom: "from ",
        };
        theme.settings = {
            cartType: "drawer",
            isCustomerTemplate: false,
            moneyFormat: "<?php echo $_SESSION['currency_label']; ?> {{amount_no_decimals}}",
            saveType: "dollar",
            productImageSize: "natural",
            productImageCover: false,
            predictiveSearch: true,
            predictiveSearchType: "product,article",
            predictiveSearchVendor: false,
            predictiveSearchPrice: false,
            quickView: true,
            themeName: '',
            themeVersion: "7.1.0"
        };
    </script>
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/assets/css/toastr.min.css">
    <link rel="stylesheet" href="http://localhost:4000/cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/country-flags.css">
    <script src="http://localhost:4000/cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/vendor-scripts-v11.js" defer="defer"></script>
    <script src="http://localhost:4000/cdn.shopify.com/s/files/1/0027/7692/4218/t/38/assets/theme.js?v=<?php echo time(); ?>" defer="defer"></script>

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJ258N1MCJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJ258N1MCJ');
</script>

<body class="template-collection" data-center-text="true" data-button_style="square" data-type_header_capitalize="true" data-type_headers_align_text="true" data-type_product_capitalize="true" data-swatch_style="round">
    <div class="loader" style="display:none;"></div>
    <div id="PageContainer" class="page-container">
        <div class="transition-body">
           {{>web/header}}
            <main class="main-content" id="MainContent">

                <div id="shopify-section-template--14452072644666__collection-header" class="shopify-section">

                        <div class="collection-banners-strip" style="max-height:161px;overflow:hidden;">
                            <img src="" loading="lazy" class="metafield-file_reference">
                        </div>

                    <div class="page-width page-content page-content--top">
                        <header class="section-header section-header--flush">
                            {{#each catdata}}
                            <h3 class="section-header__title">
                               {{this.category_name}}
                            </h3>
                            {{/each}}
                            <div class="top-short-desc" style="display: none;">
                                <p> <strong class="show-more"></strong></p>
                            </div>
                        </header>
                    </div>
                    <div id="CollectionHeaderSection" data-section-id="template--14452072644666__collection-header" data-section-type="collection-header">
                    </div>
                </div>
                <div id="shopify-section-template--14452072644666__main-collection" class="shopify-section">
                    <div class="collection-content" data-section-type="collection-grid">
                        <div id="CollectionAjaxContent">
                            <div class="page-width">
                                <div class="grid">
                                    <div class="grid__item medium-up--one-fifth grid__item--sidebar">
                                        <div id="CollectionSidebar" data-style="sidebar">
                                            <!-- filter pc start -->
                                            <div class="collection-sidebar small--hide">
                                                <ul class="no-bullets tag-list tag-list--active-tags"></ul>
                                                <div class="filter-form">
                                                    <!--  filter by price start -->
                                                    <input type="hidden" class="filter-bind" id="getprice">

                                                        <div class="collection-sidebar__group--366">
                                                            <div class="collection-sidebar__group">
                                                                <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-366-filter-product-type" data-collapsible-id="filter-product-type">
                                                                    price
                                                                    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                            <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                        </svg>
                                                                    </span>
                                                                </button>
                                                                <div id="CollectionSidebar-366-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                    <div class="collapsible-content__inner">
                                                                        <ul class="no-bullets tag-list filter-items">
                                                                            <!--  <input type="hidden" class="filter-bind" id="getprice"> -->
                                                                            <li class="tag">
                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                    <input type="checkbox" class="tag__input filterbind custprice 0-300"><span class="tag__checkbox"></span>
                                                                                    <span>
                                                                                        <span class="tag filterbind custprice 0-300">
                                                                                            <a data-name="price" data-namevalue="0-300">₹0-₹300</a>
                                                                                        </span>
                                                                                    </span></label>
                                                                            </li>
                                                                            <li class="tag">
                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                    <input type="checkbox" class="tag__input filterbind custprice 300-500"><span class="tag__checkbox"></span>
                                                                                    <span>
                                                                                        <span class="tag filterbind custprice 300-500">
                                                                                            <a data-name="price" data-namevalue="300-500">₹300-₹500</a>
                                                                                        </span>
                                                                                    </span></label>
                                                                            </li>
                                                                            <li class="tag">
                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                    <input type="checkbox" class="tag__input filterbind custprice 500-1000"><span class="tag__checkbox"></span>
                                                                                    <span>
                                                                                        <span class="tag filterbind custprice 500-1000">
                                                                                            <a data-name="price" data-namevalue="500-1000">₹500-₹1000</a>
                                                                                        </span>
                                                                                    </span></label>
                                                                            </li>
                                                                            <li class="tag">
                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                    <input type="checkbox" class="tag__input filterbind custprice 1000-2000"><span class="tag__checkbox"></span>
                                                                                    <span>
                                                                                        <span class="tag filterbind custprice 1000-2000">
                                                                                            <a data-name="price" data-namevalue="1000-2000">₹1000-₹2000</a>
                                                                                        </span>
                                                                                    </span></label>
                                                                            </li>
                                                                            <li class="tag">
                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                    <input type="checkbox" class="tag__input filterbind custprice 2000-5000"><span class="tag__checkbox"></span>
                                                                                    <span>
                                                                                        <span class="tag filterbind custprice 2000-5000">
                                                                                            <a data-name="price" data-namevalue="2000-5000">₹2000-₹5000</a>
                                                                                        </span>
                                                                                    </span></label>
                                                                            </li>
                                                                            <li class="tag">
                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                    <input type="checkbox" class="tag__input filterbind custprice 5000-10000"><span class="tag__checkbox"></span>
                                                                                    <span>
                                                                                        <span class="tag filterbind custprice 5000-10000">
                                                                                            <a data-name="price" data-namevalue="5000-10000">₹5000-₹10000</a>
                                                                                        </span>
                                                                                    </span></label>
                                                                            </li>
                                                                            <li class="tag">
                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                    <input type="checkbox" class="tag__input filterbind custprice 10000-<?php echo $max_price1 ?>"><span class="tag__checkbox"></span>
                                                                                    <span>
                                                                                        <span class="tag filterbind custprice 10000-<?php echo $max_price1 ?>">
                                                                                            <a data-name="price" data-namevalue="10000-<?php echo $max_price1 ?>">₹10000-Above</a>
                                                                                        </span>
                                                                                    </span></label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <!--  filter by price end -->
                                                    <!-- parent filter start -->

                                                            <div class="collection-sidebar__group--4">
                                                                <div class="collection-sidebar__group">
                                                                    <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-<?php echo $key; ?>-filter-product-type" data-collapsible-id="filter-product-type"><?php echo $key; ?>
                                                                        <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                                <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                            </svg>
                                                                        </span>
                                                                    </button>
                                                                    <div id="CollectionSidebar-<?php echo $key; ?>-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                        <div class="collapsible-content__inner">
                                                                            <ul class="no-bullets tag-list filter-items">

                                                                                    <li class="tag">
                                                                                        <label class="tag__checkbox-wrapper text-label filterbind">

                                                                                            <input type="checkbox" class="tag__input filterbind subcatParent" data-name="<?php $subcat_name; ?>" value="<?php echo $subcat_id; ?>">
                                                                                            <span class="tag__checkbox"></span>
                                                                                            <span class="tag__text">Subcat Name</span></label>
                                                                                    </li>

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                    <!-- parent filter end -->
                                                    <!-- color filter start -->

                                                        <div class="collection-sidebar__group--36">
                                                            <div class="collection-sidebar__group">
                                                                <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-36-filter-product-type" data-collapsible-id="filter-product-type">
                                                                    color
                                                                    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                            <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                        </svg>
                                                                    </span>
                                                                </button>
                                                                <div id="CollectionSidebar-36-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                    <div class="collapsible-content__inner">
                                                                        <ul class="no-bullets tag-list filter-items">

                                                                                    <li class="tag">
                                                                                        <label class="tag__checkbox-wrapper text-label">
                                                                                            <input type="checkbox" class="tag__input filterbind color <?php echo strtolower($color_name); ?>" name="" data-name="color" value="<?php echo $value; ?>"><span class="tag__checkbox"></span>
                                                                                            <span class="tag__text" style="float: left;width: 36%;display: flex;justify-content: space-between;align-items: center;">Red</span>
                                                                                            <span class="color-swatch color-swatch--filter color-swatch--<?php echo $color_name; ?>" title="<?php echo $color_name; ?>" style="float: right;/* width: 100%; */display: flex;justify-content: space-between;align-items: center;background-color: <?php echo $color_code; ?>; );">
                                                                                            </span>
                                                                                            <span>5</span></label>
                                                                                    </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <!-- size filter end -->
                                                    <!-- Size Filter start-->

                                                        <div class="collection-sidebar__group--40">
                                                            <div class="collection-sidebar__group">
                                                                <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-40-filter-product-type" data-collapsible-id="filter-product-type">
                                                                    SIZE
                                                                    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                            <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                        </svg>
                                                                    </span>
                                                                </button>
                                                                <div id="CollectionSidebar-40-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                    <div class="collapsible-content__inner">
                                                                        <ul class="no-bullets tag-list filter-items">

                                                                                    <li class="tag">
                                                                                        <label class="tag__checkbox-wrapper text-label">
                                                                                            <input type="checkbox" class="tag__input filterbind Size <?php echo strtolower($value); ?>" name="" data-name="Size" value="<?php echo $value; ?>"><span class="tag__checkbox"></span>
                                                                                            <span>
                                                                                                <span class="tag__text">S</span>
                                                                                                5</span></label>
                                                                                    </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <!-- Size Filter start End-->
                                                </div>
                                            </div>
                                            <!-- filter pc end -->
                                            <!-- filter mobile start -->
                                            <div id="FilterDrawer" class="drawer drawer--left">
                                                <div class="drawer__contents">
                                                    <div class="drawer__fixed-header">
                                                        <div class="drawer__header appear-animation appear-delay-1">
                                                            <div class="h2 drawer__title">
                                                                Filter
                                                            </div>
                                                            <div class="drawer__close">
                                                                <button type="button" class="drawer__close-button js-drawer-close">
                                                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
                                                                        <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                                                                    </svg>
                                                                    <span class="icon__fallback-text">Close menu</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="drawer__scrollable appear-animation appear-delay-2">
                                                        <ul class="no-bullets tag-list tag-list--active-tags"></ul>
                                                        <form class="filter-form">
                                                            <!--  filter by price start -->
                                                            <!--  <input type="hidden" class="filter-bind" id="getprice"> -->
                                                            <div class="collection-sidebar__group--37">
                                                                <div class="collection-sidebar__group">
                                                                    <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-37-filter-product-type" data-collapsible-id="filter-product-type">
                                                                        price
                                                                        <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                                <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                            </svg>
                                                                        </span>
                                                                    </button>
                                                                    <div id="CollectionSidebar-37-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                        <div class="collapsible-content__inner">
                                                                            <ul class="no-bullets tag-list filter-items">
                                                                                <!--  <input type="hidden" class="filter-bind" id="getprice"> -->
                                                                                <li class="tag">
                                                                                    <label class="tag__checkbox-wrapper text-label">
                                                                                        <input type="checkbox" class="tag__input filterbind custprice 0-300"><span class="tag__checkbox"></span>
                                                                                        <span>
                                                                                            <span class="tag filterbind custprice 0-300">
                                                                                                <a data-name="price" data-namevalue="0-300">₹0-₹300</a>
                                                                                            </span>
                                                                                        </span></label>
                                                                                </li>
                                                                                <li class="tag">
                                                                                    <label class="tag__checkbox-wrapper text-label">
                                                                                        <input type="checkbox" class="tag__input filterbind custprice 300-500"><span class="tag__checkbox"></span>
                                                                                        <span>
                                                                                            <span class="tag filterbind custprice 300-500">
                                                                                                <a data-name="price" data-namevalue="300-500">₹300-₹500</a>
                                                                                            </span>
                                                                                        </span></label>
                                                                                </li>
                                                                                <li class="tag">
                                                                                    <label class="tag__checkbox-wrapper text-label">
                                                                                        <input type="checkbox" class="tag__input filterbind custprice 500-1000"><span class="tag__checkbox"></span>
                                                                                        <span>
                                                                                            <span class="tag filterbind custprice 500-1000">
                                                                                                <a data-name="price" data-namevalue="500-1000">₹500-₹1000</a>
                                                                                            </span>
                                                                                        </span></label>
                                                                                </li>
                                                                                <li class="tag">
                                                                                    <label class="tag__checkbox-wrapper text-label">
                                                                                        <input type="checkbox" class="tag__input filterbind custprice 1000-2000"><span class="tag__checkbox"></span>
                                                                                        <span>
                                                                                            <span class="tag filterbind custprice 1000-2000">
                                                                                                <a data-name="price" data-namevalue="1000-2000">₹1000-₹2000</a>
                                                                                            </span>
                                                                                        </span></label>
                                                                                </li>
                                                                                <li class="tag">
                                                                                    <label class="tag__checkbox-wrapper text-label">
                                                                                        <input type="checkbox" class="tag__input filterbind custprice 2000-5000"><span class="tag__checkbox"></span>
                                                                                        <span>
                                                                                            <span class="tag filterbind custprice 2000-5000">
                                                                                                <a data-name="price" data-namevalue="2000-5000">₹2000-₹5000</a>
                                                                                            </span>
                                                                                        </span></label>
                                                                                </li>
                                                                                <li class="tag">
                                                                                    <label class="tag__checkbox-wrapper text-label">
                                                                                        <input type="checkbox" class="tag__input filterbind custprice 5000-10000"><span class="tag__checkbox"></span>
                                                                                        <span>
                                                                                            <span class="tag filterbind custprice 5000-10000">
                                                                                                <a data-name="price" data-namevalue="5000-10000">₹5000-₹10000</a>
                                                                                            </span>
                                                                                        </span></label>
                                                                                </li>
                                                                                <li class="tag">
                                                                                    <label class="tag__checkbox-wrapper text-label">
                                                                                        <input type="checkbox" class="tag__input filterbind custprice 10000-<?php echo $max_price1 ?>"><span class="tag__checkbox"></span>
                                                                                        <span>
                                                                                            <span class="tag filterbind custprice 10000-<?php echo $max_price1 ?>">
                                                                                                <a data-name="price" data-namevalue="10000-<?php echo $max_price1 ?>">₹10000-Above</a>
                                                                                            </span>
                                                                                        </span></label>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--  filter by price end -->
                                                            <!--mobile parent filter start-->

                                                                    <div class="collection-sidebar__group--4">
                                                                        <div class="collection-sidebar__group">
                                                                            <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-<?php echo $key; ?>-filter-product-type" data-collapsible-id="filter-product-type">key
                                                                                <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                                        <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                                    </svg>
                                                                                </span>
                                                                            </button>
                                                                            <div id="CollectionSidebar-<?php echo $key; ?>-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                                <div class="collapsible-content__inner">
                                                                                    <ul class="no-bullets tag-list filter-items">

                                                                                            <li class="tag">
                                                                                                <label class="tag__checkbox-wrapper text-label filterbind">

                                                                                                    <input type="checkbox" class="tag__input filterbind subcatParent" data-name="<?php $subcat_name; ?>" value="<?php echo $subcat_id; ?>">
                                                                                                    <span class="tag__checkbox"></span>
                                                                                                    <span class="tag__text">subcat_name</span></label>
                                                                                            </li>

                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                            <!--mobile parent filter end-->
                                                            <!-- color filter start -->

                                                                <div class="collection-sidebar__group--36">
                                                                    <div class="collection-sidebar__group">
                                                                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-36-filter-product-type" data-collapsible-id="filter-product-type">
                                                                            color
                                                                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                                </svg>
                                                                            </span>
                                                                        </button>
                                                                        <div id="CollectionSidebar-36-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                            <div class="collapsible-content__inner">
                                                                                <ul class="no-bullets tag-list filter-items">

                                                                                            <li class="tag">
                                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                                    <input type="checkbox" class="tag__input filterbind color <?php echo strtolower($color_name); ?>" name="" data-name="color" value="<?php echo $value; ?>"><span class="tag__checkbox"></span>
                                                                                                    <span class="tag__text" style="float: left;width: 36%;display: flex;justify-content: space-between;align-items: center;">color_name </span>
                                                                                                    <span class="color-swatch color-swatch--filter color-swatch--<?php echo $color_name; ?>" title="<?php echo $color_name; ?>" style="float: right;display: flex;justify-content: space-between;align-items: center;background-color: <?php echo $color_code; ?>; );">
                                                                                                    </span><span>5</span></label>

                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            <!-- color filter end -->
                                                            <!-- size filter start -->

                                                                <div class="collection-sidebar__group--40">
                                                                    <div class="collection-sidebar__group">
                                                                        <button type="button" class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height is-open tag-list__header" aria-controls="CollectionSidebar-40-filter-product-type" data-collapsible-id="filter-product-type">
                                                                            SIZE
                                                                            <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
                                                                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                                                                    <path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd" />
                                                                                </svg>
                                                                            </span>
                                                                        </button>
                                                                        <div id="CollectionSidebar-40-filter-product-type" class="collapsible-content collapsible-content--sidebar is-open" data-collapsible-id="filter-product-type" style="height: auto;">
                                                                            <div class="collapsible-content__inner">
                                                                                <ul class="no-bullets tag-list filter-items">

                                                                                            <li class="tag">
                                                                                                <label class="tag__checkbox-wrapper text-label">
                                                                                                    <input type="checkbox" class="tag__input filterbind Size <?php echo strtolower($value); ?>" name="" data-name="Size" value="<?php echo $value; ?>"><span class="tag__checkbox"></span>
                                                                                                    <span>
                                                                                                        <span class="tag__text">size_name</span>
                                                                                                       5</span></label>
                                                                                            </li>

                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            <!-- size filter end -->
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- filter mobile end -->
                                        </div>
                                    </div>
                                    <div class="grid__item medium-up--four-fifths grid__item--content" id="scroll_section">
                                        <div data-scroll-to>
                                            <div class="collection-grid__wrapper">
                                                <div class="collection-filter">
                                                    <div class="collection-filter__item collection-filter__item--drawer">
                                                        <button type="button" class="js-drawer-open-collection-filters btn btn--tertiary" aria-controls="FilterDrawer">
                                                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter" viewBox="0 0 64 64">
                                                                <path d="M48 42h10M48 42a5 5 0 1 1-5-5 5 5 0 0 1 5 5zM7 42h31M16 22H6M16 22a5 5 0 1 1 5 5 5 5 0 0 1-5-5zM57 22H26" />
                                                            </svg>
                                                            Filter
                                                        </button>
                                                    </div>

                                                    <div class="collection-filter__item collection-filter__item--count small">5 Products
                                                    </div>
                                                    <div class="collection-filter__item collection-filter__item--sort">
                                                        <div class="collection-filter__sort-container">
                                                            <select name="orderby" id="sort_by_filter" class="sort-order sort_by_filter order">
                                                                <option value="">Sort By</option>
                                                                <option value="1" class="option.kalles_dropdown_option">New To Old</option>
                                                                <option value="2" class="option.kalles_dropdown_option">Old To New</option>
                                                                <option value="3" class="option.kalles_dropdown_option">High To Low</option>
                                                                <option value="4" class="option.kalles_dropdown_option">Low To High</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

        <div class="banner-content text-center">
            <h2 class="banner-title">
                <span class="text-secondary">Sorry!!!</span> Product not available right now!!
            </h2>
            <a href="http://localhost:4000/" class="btn btn-dark btn-rounded btn-icon-right">Go Back Home<i class="w-icon-long-arrow-right"></i></a>
        </div>

                                                <div class="banner-content text-center">
                                                    <h2 class="banner-title">
                                                        <span class="text-secondary">Sorry!!!</span> Product not available right now!!
                                                    </h2>
                                                    <a href="http://localhost:4000/" class="btn btn-dark btn-rounded btn-icon-right">Go Back Home<i class="w-icon-long-arrow-right"></i></a>
                                                </div>

                                                <div class="product-wrapper row cols-lg-12 cols-md-12 cols-sm-12 cols-12" id="filter_data">
                                                    <div class="product-wrapper row cols-lg-5 cols-md-3 cols-sm-2 cols-2">

                                                    </div>
                                                    <div class="pagignation toolbox toolbox-pagination justify-content-center" style="text-align: center;">

                                                           <a class='pag loadBtn'   data-page='1' style='cursor: pointer'>First</a>
                                                            <a class='pag loadBtn'  data-page='1' style='cursor: pointer'><<</a>


                                                              <a class='pag loadBtn'   data-page='6' style='background: #d97676;color: white;cursor: pointer'>1</a>
                                                            <a class='pag loadBtn'   data-page='6' style='cursor: pointer'>2</a>

                                                     <a class='pag loadBtn' data-page='" . ($page + 1) . "' style='cursor: pointer'>>></a><a class='pag loadBtn'  data-page='" . $total_pages . "' style='cursor: pointer'>Last</a>
                                                    </div>
                                                </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="application/ld+json">
                        {
                            "@context": "http://schema.org",
                            "@type": "CollectionPage",
                            "image": {
                                "@type": "ImageObject",
                                "height": 628,
                                "url": "https:\/\/cdn.shopify.com\/s\/files\/1\/0027\/7692\/4218\/files\/logo-black-38px_7361969b-816c-4fec-a442-9f24e767ae50_1200x.png?v=1613698464",
                                "width": 1200
                            },
                            "name": "Dresses - 3\/4 sleeve"
                        }
                    </script>
                </div>
        </div>
        </main>
        <hr>
        <div id="shopify-section-footer" class="shopify-section">
          {{>web/footer}}
        </div>
    </div>
    </div>
    <input type="hidden" value="<?php echo $record_per_page; ?>" name="pagination-limit-start" id="pagination-limit-start" />
    <span style="display:none" id="get_link"></span>
    <span style="display:none" id="get_searchVal"></span>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <button class="btn btn--body btn--circle pswp__button pswp__button--arrow--left" title="Previous">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98">
                        <path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z" />
                    </svg>
                </button>
                <button class="btn btn--body btn--circle btn--large pswp__button pswp__button--close" title="Close (esc)">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
                        <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                    </svg>
                </button>
                <button class="btn btn--body btn--circle pswp__button pswp__button--arrow--right" title="Next">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98">
                        <path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <tool-tip data-tool-tip="">
        <div class="tool-tip__inner" data-tool-tip-inner>
            <button class="tool-tip__close" data-tool-tip-close=""><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
                    <path d="M19 17.61l27.12 27.13m0-27.12L19 44.74" />
                </svg></button>
            <div data-tool-tip-title>catagory_name</div>
            <div class="tool-tip__content" data-tool-tip-content>
            </div>
        </div>
    </tool-tip>
</body>
<script src="http://localhost:4000/assets/custom_web.js?ver=<?php echo time(); ?>"></script>
<script src="http://localhost:4000/assets/toastr.min.js"></script>
<script>
    var catid = '<?php echo $seo_id_new; ?>';
    var seo_id = '<?php echo $seo_id; ?>';
    var cattype = '<?php echo $type; ?>';
    var pagetype = 'cat';
    var record_per_page = '<?php echo $record_per_page; ?>';
    /* var rr1 = <?php echo json_encode($rr1); ?>;
    rr1.push("Brand","Subcategory","order","color","status","stitch","Size","CATEGORY");
    var filter_array = rr1; */
    var filter_array = '["Brand","Subcategory","order","color","status","stitch","Size","CATEGORY","subcatParent"]';

    var minp = '<?php echo $min_price; ?>';
    var maxp = '<?php echo $max_price; ?>';
    var usercountdata = '<?php echo $usercountdata; ?>';
</script>

</html>