<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark">

    <div class="app-brand demo">
        <span class="app-brand-logo demo" style="max-width:160px;">
            <img src="" alt="Brand Logo" class="img-fluid" style="height: 45px;">
        </span>
        <a  class="app-brand-text demo sidenav-text font-weight-normal ml-2"></a>
        <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle"></i>
        </a>
    </div>
    <div class="sidenav-divider mt-0"></div>

        <!-- Links -->
        <ul class="sidenav-inner py-1">
            <!-- Dashboards -->
            <li class="sidenav-item active">
                <a href="/retail_admin" class="sidenav-link">
                    <i class="sidenav-icon feather icon-home"></i>
                    <div>Dashboard</div>
                </a>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Home SEO</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/home_seo" class="sidenav-link">
                            <div>View</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Slider</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/slider_add" class="sidenav-link">
                            <div>Add/View Slider</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Contact Numbers</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/contact_number" class="sidenav-link">
                            <div>Add/View Contact Numbers</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>MARQUEE</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/marquee" class="sidenav-link">
                            <div>Add/View marquee text</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Become partner </div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="view_become_partener.php" class="sidenav-link">
                            <div>Add/View Become partner text</div>
                        </a>
                    </li>
                </ul>
            </li> -->

            {{!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Cart Abandonment</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="cart_abandonment_list.php" class="sidenav-link">
                            <div>Add/View Cart Abandonment</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Map location</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="map_location.php" class="sidenav-link">
                            <div> View </div>
                        </a>
                    </li>
                </ul>
            </li> --}}
            <!-- <li class="sidenav-item active">
							<a href="javascript:" class="sidenav-link sidenav-toggle">
								<i class="sidenav-icon feather icon-grid"></i>
								<div>UPI Transfer Option</div>
							</a>
							<ul class="sidenav-menu">
								<li class="sidenav-item">
									<a href="upi_option.php" class="sidenav-link">
										<div>UPI Transfer Option</div>
									</a>
								</li>
							</ul>
						</li> -->
            <!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Types</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="type_add.php" class="sidenav-link">
                            <div>Add/View Types</div>
                        </a>
                    </li>
                </ul>
            </li> -->
         {{!--    <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Currency Price</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="currency_add.php" class="sidenav-link">
                            <div>Add/View Currency Price</div>
                        </a>
                    </li>
                </ul>
            </li> --}}
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Category</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/category" class="sidenav-link">
                            <div>Add/View Category</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Subcategory</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/subcategory_add" class="sidenav-link">
                            <div>Add/View Subcategory</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Attributes</div>
                </a>
                <ul class="sidenav-menu">
                    <!--- <li class="sidenav-item">
                                <a href="main_fabric_add.php" class="sidenav-link">
                                    <div>Add/View Fabrics Category</div>
                                </a>
                            </li>-->
                    <!--<li class="sidenav-item">
                                <a href="fabric_add.php" class="sidenav-link">
                                    <div>Add/View Fabrics</div>
                                </a>
                            </li>-->
                    <li class="sidenav-item">
                        <a href="/retail_admin/brand_add" class="sidenav-link">
                            <div>Add/View Brand</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/retail_admin/size_add" class="sidenav-link">
                            <div>Add/View Size</div>
                        </a>
                    </li>
                    <!--<li class="sidenav-item">
                                <a href="color_add.php" class="sidenav-link">
                                    <div>Add/View Color</div>
                                </a>
                            </li>-->
                </ul>
            </li>
            <!--<li class="sidenav-item active">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>Brand</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="brand_add.php" class="sidenav-link">
                                    <div>Add/View Brand</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            {{!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Shipping Pincode and Price</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="pincode_sheet_upload.php" class="sidenav-link">
                            <div>Shipping Pincode</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="shipping_price_add.php" class="sidenav-link">
                            <div>Shipping Price</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="inter_shipping_price_add.php" class="sidenav-link">
                            <div>International Shipping Price</div>
                        </a>
                    </li>
                </ul>
            </li> --}}
            <!--<li class="sidenav-item">
                        <a href="pincode_sheet_upload.php" class="sidenav-link">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>Shipping Pincode</div>
                        </a>
                    </li>-->
            {{!-- <li class="sidenav-item active" style="display:none;">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Catalog</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="catalog_add.php" class="sidenav-link">
                            <div>Add Catalog</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="catalog_view.php" class="sidenav-link">
                            <div>View Catalog</div>
                        </a>
                    </li>
                </ul>
            </li> --}}
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Catalog</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/product_add" class="sidenav-link">
                            <div>Add Catalog</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/retail_admin/product_view" class="sidenav-link">
                            <div>View Catalog</div>
                        </a>
                    </li>
                    <!--<li class="sidenav-item">
                                <a href="product_sheet_upload.php" class="sidenav-link">
                                    <div>Upload Catalog Sheet</div>
                                </a>
                            </li>-->
                 {{!--    <li class="sidenav-item">
                        <a href="skuwise_report.php" class="sidenav-link">
                            <div>Sku Wise Report</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="high_demand_product.php" class="sidenav-link">
                            <div>High Demanding Catalog</div>
                        </a>
                    </li> --}}
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Custome Attribute</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/attribute" class="sidenav-link">
                            <div>Add Attribute</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/retail_admin/sub_attribute" class="sidenav-link">
                            <div>Add Sub-Attribute</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li class="sidenav-item active">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>Retail Product</div>
                        </a>
                        <ul class="sidenav-menu">
							<li class="sidenav-item">
                                <a href="catalog_add_product.php" class="sidenav-link">
                                    <div>Add/View Catalog</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="product_retail_add.php" class="sidenav-link">
                                    <div>Add Product</div>
                                </a>
                            </li>
							<li class="sidenav-item">
                                <a href="product_retail_view.php" class="sidenav-link">
                                    <div>View Product</div>
                                </a>
                            </li>
							<li class="sidenav-item">
                                <a href="product_retail_sheet_upload.php" class="sidenav-link">
                                    <div>Upload Product Sheet</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            {{!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle"> <i class="sidenav-icon feather icon-grid"></i>
                    <div>Coupon</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="coupon_add.php" class="sidenav-link">
                            <div>Add/view Coupon</div>
                        </a>
                    </li>
                </ul>
            </li> --}}
            <!--<li class="sidenav-item active">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>Garments</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="garments_add.php" class="sidenav-link">
                                    <div>Add garments</div>
                                </a>
                            </li>
							<li class="sidenav-item">
                                <a href="garments_view.php" class="sidenav-link">
                                    <div>View garments</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            {{!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Media</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="upload_images.php" class="sidenav-link">
                            <div>Add Catalog Images</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="upload_subimages.php" class="sidenav-link">
                            <div>Add Catalog SubImages</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="upload_product_images.php" class="sidenav-link">
                            <div>Add Product Images</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="upload_product_subimages.php" class="sidenav-link">
                            <div>Add Product SubImages</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="view_images.php" class="sidenav-link">
                            <div>View Images</div>
                        </a>
                    </li>
                </ul>
            </li> --}}

            {{!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Order</div>
                    <div class="pl-1 ml-auto">
                        <div class="badge badge-primary"></div>
                    </div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="order_list.php" class="sidenav-link">
                            <div>Order List</div>
                        </a>
                    </li>
                    <!-- <li class="sidenav-item">
                        <a href="add_manual_order.php" class="sidenav-link">
                            <div>Manual Order</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="view_order_dealer_wise.php" class="sidenav-link">
                            <div>Dealer Wise Order</div>
                        </a>
                    </li> -->
                    <!--<li class="sidenav-item">
                                <a href="upload_tracking_details.php" class="sidenav-link">
                                    <div>Upload Tracking Details</div>
                                </a>
                            </li>-->
                </ul>
            </li> --}}

            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Inquiry</div>
                    <div class="pl-1 ml-auto">
                        <div class="badge badge-primary"></div>
                    </div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/inquiry_list" class="sidenav-link">
                            <div>Inquiry List</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div> Become Partener Inquiry</div>
                    <div class="pl-1 ml-auto">
                        <div class="badge badge-primary"></div>
                    </div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="become_partener_list.php" class="sidenav-link">
                            <div>Become Partener List</div>
                        </a>
                    </li>
                </ul>
            </li> -->
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>About Us</div>
                    <div class="pl-1 ml-auto">
                        <div class="badge badge-primary"></div>
                    </div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="about_us.php" class="sidenav-link">
                            <div>Edit About Us</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Subscribers</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="subscribers_list.php" class="sidenav-link">
                            <div>View Subscribers List</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Appointment</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="appointment_list.php" class="sidenav-link">
                            <div>View Appointment List</div>
                        </a>
                    </li>
                </ul>
            </li> -->
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Free Shipping Price</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="free_ship_price.php" class="sidenav-link">
                            <div>View Free Shipping</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Sales Notification</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="fake_notification_add.php" class="sidenav-link">
                            <div>Add/view Sales Notification</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Blog</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="blog_add.php" class="sidenav-link">
                            <div>Add/view blog</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Review & Rating</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="review_rating.php" class="sidenav-link">
                            <div>Add/View Review & Rating</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Testimonial</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="testimonial_add.php" class="sidenav-link">
                            <div>Add/View Testimonial</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li class="sidenav-item active">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>Shiprocket</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="export_shiprocket.php" class="sidenav-link">
                                    <div>Export Shiprocket Sheet</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            <!--<li class="sidenav-item active">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>Order Status Master</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="order_status_add.php" class="sidenav-link">
                                    <div>Add/View Status</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Courier Master</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="courier_add.php" class="sidenav-link">
                            <div>Add/View Courier</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Users</div>
                    <div class="pl-1 ml-auto">
                        <div class="badge badge-primary"></div>
                    </div>
                </a>
                 <ul class="sidenav-menu">
                    <!--<li class="sidenav-item">
                        <a href="add_users.php" class="sidenav-link">
                            <div>Add/View Users</div>
                        </a>
                    </li>-->
                    <li class="sidenav-item">
                        <a href="users_list.php" class="sidenav-link">
                            <div>View Users List</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Dealers</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="dealer_add.php" class="sidenav-link">
                            <div>Add/View Dealers</div>
                        </a>
                    </li>
                    <!-- <li class="sidenav-item">
                        <a href="dealerwise_products.php" class="sidenav-link">
                            <div>Dealer Wise Products</div>
                        </a>
                    </li> -->
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Note Master</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="view_notes.php" class="sidenav-link">
                            <div>Add/View Notes</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item active">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-grid"></i>
                    <div>Other pages</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="/retail_admin/about_us" class="sidenav-link">
                            <div>About Us</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/retail_admin/privacy_policy" class="sidenav-link">
                            <div>Privacy policy</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/retail_admin/refund_policy" class="sidenav-link">
                            <div>Refund Policy</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/retail_admin/shipping_policy" class="sidenav-link">
                            <div>Shipping Policy</div>
                        </a>
                    </li>
                   {{!--  <li class="sidenav-item">
                        <a href="/retail_admin/desclaimer" class="sidenav-link">
                            <div>Desclaimer</div>
                        </a>
                    </li> --}}
                    <li class="sidenav-item">
                        <a href="/retail_admin/terms" class="sidenav-link">
                            <div>Terms & Condtion</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/retail_admin/faqs" class="sidenav-link">
                            <div>FAQs</div>
                        </a>
                    </li>
                   {{!--  <li class="sidenav-item">
                        <a href="bank_details.php" class="sidenav-link">
                            <div>Bank Details</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="address.php" class="sidenav-link">
                            <div>Address</div>
                        </a>
                    </li> --}}
                </ul>
            </li>
            <!--<li class="sidenav-item active">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>About us</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="aboutphoto_add.php" class="sidenav-link">
                                    <div>Add photo</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-layers"></i>
                            <div>Widgets</div>
                            <div class="pl-1 ml-auto">
                                <div class="badge badge-primary">100+</div>
                            </div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="w-simple.html" class="sidenav-link">
                                    <div>Simple</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="w-data.html" class="sidenav-link">
                                    <div>Data</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="w-social.html" class="sidenav-link">
                                    <div>Social</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="w-chart.html" class="sidenav-link">
                                    <div>Chart</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            <!-- Layouts -->
            <!--<li class="sidenav-divider mb-1"></li>
                    <li class="sidenav-header small font-weight-semibold">UI Components</li>
                    <li class="sidenav-item">
                        <a href="typography.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-type"></i>
                            <div>Typography</div>
                        </a>
                    </li>-->
            <!-- UI elements -->
            <!--<li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-box"></i>
                            <div>Basic UI</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="bui_alert.html" class="sidenav-link">
                                    <div>Alerts</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_accordion.html" class="sidenav-link">
                                    <div>Accordion</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_badges.html" class="sidenav-link">
                                    <div>Badges</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_button.html" class="sidenav-link">
                                    <div>Buttons</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_button-groups.html" class="sidenav-link">
                                    <div>Button groups</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_cards.html" class="sidenav-link">
                                    <div>Cards</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_dropdowns.html" class="sidenav-link">
                                    <div>Dropdowns</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_modals.html" class="sidenav-link">
                                    <div>Modals</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_navs.html" class="sidenav-link">
                                    <div>Navs [ Tabs ]</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_pagination.html" class="sidenav-link">
                                    <div>Pagination and breadcrumbs</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_progress.html" class="sidenav-link">
                                    <div>Progress bars</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_tooltips.html" class="sidenav-link">
                                    <div>Tooltips and popovers</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="bui_thumbnails.html" class="sidenav-link">
                                    <div>Thumbnails</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-award"></i>
                            <div>Advanced UI</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="aui_carousel.html" class="sidenav-link">
                                    <div>Carousel</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_cropper.html" class="sidenav-link">
                                    <div>Cropper.js</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_drag-and-drop.html" class="sidenav-link">
                                    <div>Drag&amp;Drop</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_fullcalendar.html" class="sidenav-link">
                                    <div>Fullcalendar</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_kanban-board.html" class="sidenav-link">
                                    <div>Kanban board</div>
                                    <div class="pl-1 ml-auto">
                                        <div class="badge badge-success">New</div>
                                    </div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_ladda.html" class="sidenav-link">
                                    <div>Ladda</div>
                                    <div class="pl-1 ml-auto">
                                        <div class="badge badge-danger">Hot</div>
                                    </div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_lightbox.html" class="sidenav-link">
                                    <div>Lightbox</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_media-player.html" class="sidenav-link">
                                    <div>Media player</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_notifications.html" class="sidenav-link">
                                    <div>Notifications</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="aui_todo-list.html" class="sidenav-link">
                                    <div>Todo list</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            <!-- Forms & Tables -->
            <!--<li class="sidenav-divider mb-1"></li>
                    <li class="sidenav-header small font-weight-semibold">Forms & Tables</li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-clipboard"></i>
                            <div>Forms</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="forms_layouts.html" class="sidenav-link">
                                    <div>Layouts and elements</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_controls.html" class="sidenav-link">
                                    <div>Controls</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_custom-controls.html" class="sidenav-link">
                                    <div>Custom controls</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_input-groups.html" class="sidenav-link">
                                    <div>Input groups</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_switchers.html" class="sidenav-link">
                                    <div>Switchers</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_sliders.html" class="sidenav-link">
                                    <div>Sliders</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_selects.html" class="sidenav-link">
                                    <div>Selects and tags</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_pickers.html" class="sidenav-link">
                                    <div>Pickers</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_editors.html" class="sidenav-link">
                                    <div>Editors</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_file-upload.html" class="sidenav-link">
                                    <div>File upload</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_validation.html" class="sidenav-link">
                                    <div>jQuery Validation</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_wizard.html" class="sidenav-link">
                                    <div>SmartWizard</div>
                                    <div class="pl-1 ml-auto">
                                        <div class="badge badge-danger">Hot</div>
                                    </div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_typeahead.html" class="sidenav-link">
                                    <div>Typeahead</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_dual-listbox.html" class="sidenav-link">
                                    <div>Bootstrap Dual Listbox</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="forms_extras.html" class="sidenav-link">
                                    <div>Extras</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-grid"></i>
                            <div>Tables</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="tables_bootstrap.html" class="sidenav-link">
                                    <div>Bootstrap</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="tables_datatables.html" class="sidenav-link">
                                    <div>DataTables</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="tables_bootstrap-table.html" class="sidenav-link">
                                    <div>Bootstrap table</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="tables_bootstrap-sortable.html" class="sidenav-link">
                                    <div>Bootstrap Sortable</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            <!-- Charts & Maps -->
            <!--<li class="sidenav-divider mb-1"></li>
                    <li class="sidenav-header small font-weight-semibold">Chrt & Maps</li>
                    <li class="sidenav-item">
                        <a href="charts_gmaps.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-map-pin"></i>
                            <div>GMaps</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-pie-chart"></i>
                            <div>Charts</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="charts_am.html" class="sidenav-link">
                                    <div>AM</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="charts_flot.html" class="sidenav-link">
                                    <div>Flot.js</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="charts_chartist.html" class="sidenav-link">
                                    <div>Chartist</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="charts_chartjs.html" class="sidenav-link">
                                    <div>Chart.js</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="charts_morrisjs.html" class="sidenav-link">
                                    <div>Morris.js</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            <!--  Icons -->
            <!--<li class="sidenav-divider mb-1"></li>
                    <li class="sidenav-header small font-weight-semibold">Icons</li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-feather"></i>
                            <div>Icons</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="icons_feather.html" class="sidenav-link">
                                    <div>Feather</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="icons_font-awesome.html" class="sidenav-link">
                                    <div>Font Awesome 5</div>
                                    <div class="pl-1 ml-auto">
                                        <div class="badge badge-info">New</div>
                                    </div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="icons_ionicons.html" class="sidenav-link">
                                    <div>Ionicons</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="icons_linearicons.html" class="sidenav-link">
                                    <div>Linearicons</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="icons_openiconic.html" class="sidenav-link">
                                    <div>Open Iconic</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="icons_stroke7.html" class="sidenav-link">
                                    <div>Stroke Icons 7</div>
                                </a>
                            </li>
                        </ul>
                    </li>-->
            <!-- Pages -->
            <!--<li class="sidenav-divider mb-1"></li>
                    <li class="sidenav-header small font-weight-semibold">Pages</li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-lock"></i>
                            <div>Authentication</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="javascript:" class="sidenav-link sidenav-toggle">
                                    <div>Login</div>
                                </a>
                                <ul class="sidenav-menu">
                                    <li class="sidenav-item">
                                        <a href="pages_authentication_login-v1.html" class="sidenav-link">
                                            <div>Login v1</div>
                                        </a>
                                    </li>
                                    <li class="sidenav-item">
                                        <a href="pages_authentication_login-v2.html" class="sidenav-link">
                                            <div>Login v2</div>
                                        </a>
                                    </li>
                                    <li class="sidenav-item">
                                        <a href="pages_authentication_login-v3.html" class="sidenav-link">
                                            <div>Login v3</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidenav-item">
                                <a href="javascript:" class="sidenav-link sidenav-toggle">
                                    <div>Signup</div>
                                </a>
                                <ul class="sidenav-menu">
                                    <li class="sidenav-item">
                                        <a href="pages_authentication_register-v1.html" class="sidenav-link">
                                            <div>Register v1</div>
                                        </a>
                                    </li>
                                    <li class="sidenav-item">
                                        <a href="pages_authentication_register-v2.html" class="sidenav-link">
                                            <div>Register v2</div>
                                        </a>
                                    </li>
                                    <li class="sidenav-item">
                                        <a href="pages_authentication_register-v3.html" class="sidenav-link">
                                            <div>Register v3</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_authentication_login-and-register.html" class="sidenav-link">
                                    <div>Login + Register</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_authentication_lock-screen-v1.html" class="sidenav-link">
                                    <div>Lock screen v1</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_authentication_lock-screen-v2.html" class="sidenav-link">
                                    <div>Lock screen v2</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_authentication_password-reset.html" class="sidenav-link">
                                    <div>Password reset</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_authentication_email-confirm.html" class="sidenav-link">
                                    <div>Email confirm</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-book"></i>
                            <div>Education</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="pages_education_courses-v1.html" class="sidenav-link">
                                    <div>Courses v1</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_education_courses-v2.html" class="sidenav-link">
                                    <div>Courses v2</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-shopping-cart"></i>
                            <div>E-commerce</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="pages_e-commerce_product-list.html" class="sidenav-link">
                                    <div>Product list</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_e-commerce_product-item.html" class="sidenav-link">
                                    <div>Product item</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_e-commerce_product-edit.html" class="sidenav-link">
                                    <div>Product edit</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_e-commerce_order-list.html" class="sidenav-link">
                                    <div>Order list</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_e-commerce_order-detail.html" class="sidenav-link">
                                    <div>Order detail</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-mail"></i>
                            <div>Email</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="pages_messages_v3_list.html" class="sidenav-link">
                                    <div>List</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_messages_v3_item.html" class="sidenav-link">
                                    <div>Item</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_messages_v3_compose.html" class="sidenav-link">
                                    <div>Compose</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-codepen"></i>
                            <div>Projects</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="pages_projects_list.html" class="sidenav-link">
                                    <div>List</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_projects_item.html" class="sidenav-link">
                                    <div>Item</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_teams.html" class="sidenav-link">
                                    <div>Teams</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-shield"></i>
                            <div>Tickets</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="pages_tickets_list.html" class="sidenav-link">
                                    <div>List</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_tickets_edit.html" class="sidenav-link">
                                    <div>Edit</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="javascript:" class="sidenav-link sidenav-toggle">
                            <i class="sidenav-icon feather icon-users"></i>
                            <div>Users</div>
                        </a>
                        <ul class="sidenav-menu">
                            <li class="sidenav-item">
                                <a href="pages_users_list.html" class="sidenav-link">
                                    <div>List</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_users_view.html" class="sidenav-link">
                                    <div>View</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_profile-v1.html" class="sidenav-link">
                                    <div>Profile v1</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_profile-v2.html" class="sidenav-link">
                                    <div>Profile v2</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_users_edit.html" class="sidenav-link">
                                    <div>Edit</div>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="pages_account-settings.html" class="sidenav-link">
                                    <div>Account settings</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidenav-item">
                        <a href="pages_chat.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-message-square"></i>
                            <div>Chat</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="pages_faq.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-anchor"></i>
                            <div>FAQ</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="pages_gallery.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-image"></i>
                            <div>Gallery</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="pages_help-center.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-help-circle"></i>
                            <div>Help center</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="pages_invoice.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-printer"></i>
                            <div>Invoice</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="pages_search-results.html" class="sidenav-link">
                            <i class="sidenav-icon feather feather icon-filter"></i>
                            <div>Search results</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="pages_vacancies.html" class="sidenav-link">
                            <i class="sidenav-icon feather icon-award"></i>
                            <div>Vacancies</div>
                        </a>
                    </li>-->
        </ul>


</div>